/*_________________________________
Position
___________________________________/

/*padding*/
@mixin padding{
padding: 10px 10px 10px 10px;}

/*margin*/
@mixin margin{
margin: 10px 10px 10px 10px;}

@mixin flexMid{
    display:flex;
    justify-content:center;
    align-items:center;
}
/*__________________________________
Titre
____________________________________/

/*titre restaurant*/
@mixin resto{
    h2.resto{
      height: auto;
      margin: auto;
    }
}

/*_________________________________
Boutton
___________________________________*/
@mixin Commander{
    /*boutton explorer*/
    button.Commander{
    position: relative;
    left: 50px;
    width: 80%;
    background: $background_explorer_mobile;
    border: none;
    border-radius: $border-radius;
    @include padding;   
    color: $link_visited;
    cursor: pointer;
    &:hover{
        box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2);
    }
    }

}
   
/*boutton fonctionnement*/
@mixin fonction{
    .fx{width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        margin-top: 180px;
        padding: 20px;
        height: 0px;
        font-size: 45px;
        font-family: 'Shrikland';
        font-size: 96px;
        &:hover{
            color: rgb(0, 0, 0);
           
        }
    }
}
/*boutton nouveau 1*/
@mixin nouveau1{
    .Nouveau{
        height: 30px;
        position: relative;
        bottom:12rem;
        left: 14rem;
        padding: 0px 5px 0px 5px;
        background-color:$tertiary_color;
        cursor: pointer;
        border:none;
        color: rgb(38, 90, 42);
        font-weight: bold;
        
    }
                   
                   
}


/*boutton explorer*/
@mixin explorer{    
    width: 60%;
    font-size: 4vmin;
    border: none;
    background: $background_explorer_mobile;
    border-radius: $border-radius;
    padding:  10px 10px 10px 10px;   
    color: $link_visited;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    &:hover{
        background: lighten($color: #30103a, $amount: 50);
        box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2);
    }
   
}

/*forme bouton menu*/
@mixin menu{
    .boutton01{
        animation: slideDown 5s;
        position: relative;
        right: 10px;
        width: 100%;
        max-height: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none;
        border-radius: $border-radius;
        margin: 20px;
        padding: 10px;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        &:hover{
           box-shadow: 0 18px 16px 0 rgba(0,0,0,0.2);
       }
 
    }

    @keyframes slideDown {
        from{
            transform: translateY(200px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
        
    }




}




/*barre de recherche*/
@mixin search{
    .form {
        width: 100%;
        border-width: 3px;
        display: flex;
        justify-content: center;
        height: 2rem;
        
       }
       
       .form label,.form button{
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding: 1px;
        
       }
       
       /*icône localistion*/
       label {
        background-color:$background_color;
        
       }
       
       
       /* champs de texte*/
       input {
        border: 0;
        /* gras*/
        font-weight: bold;
        padding-left: 1rem;
        flex: 1;
        font-family: 'Roboto';
        background-color:$background_color;
        box-shadow: 50 80px 16px 80 rgba(7,0,8,0.2);
        
       }
       
       /* Exemple de ville*/
       ::placeholder{
        color: rgb(0, 0, 0);
        opacity: 1;
        text-align: center;
        font-family: 'Roboto';
        font-weight:bold;
       }
}


/*container1*/

/*container2*/

/*footer*/
@mixin footer{
   footer{ 
    background-color: rgb(58, 54, 54);
    display: flex;
    justify-content: start;
       .footer  p{
        color: white;
        font-family: 'Shrikland';
        
          ul{
             
            li{
                list-style: none;
                   a{
                    text-decoration: none;
                    &-visited
                    {
                    color:$link_visited;
                          }
                       }
                   }
               }
            }
           

           h3{
               width: 100%;
              color:white;
              display: flex;
              justify-content: start;
              font-size: 5vmin;
              
        }
}   }
   


           
        
