/**********************
COLOR
**********************/

/*primary color */
$primary_color:#9356DC;
/*secondary color*/
$secondary_color:#FF79DA;
/*tertiary color*/
$tertiary_color:#99E2D0;


/*********************************
UTILITAIRES POSITION / DIMENSIONS
**********************************/

$radius-btn: 5px;
$padding-txt: 10px;

