/**********************
COLOR
**********************/

/*primary color */
$primary_color:#9356DC;
/*secondary color*/
$secondary_color:#FF79DA;
/*tertiary color*/
$tertiary_color:#99E2D0;
/*background_color*/
$backgroung_color:rgb(238, 234, 234);
/*text color*/
$text_color:black;
/*link visited*/
$link_visited:white;


/*********************************
UTILITAIRES POSITION / DIMENSIONS
**********************************/

$radius-btn: 5px;
$padding-txt: 10px;

