/*recherche: ligne103
  footer:ligne 170*/


/*______________________________________
loader
_______________________________________*/


@mixin loader {
    .cs-loader {
        position:fixed;
        bottom: 0;
        background-color: $primary_color;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
        animation: lol 4s linear forwards;
       
    }
      
    .cs-loader-inner {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        width: calc(100% - 20px);
        color: #FFF;
        padding: 0 100px;
        text-align: center;
    }
      
    .cs-loader-inner label {
        font-size: 5vmax;
        opacity: 0;
        display:inline-block;
        background: rgb(4, 4, 4);
    }
    
    /*animation lol*/
    @keyframes lol {
        0% {
         
          opacity: 1;
          transform: translateX(-300px);
        }
       
        100% {
          opacity: 0;
          transform: translateX(300px);
          visibility: hidden;
        }
    }
    .cs-loader-inner label:nth-child(10) {
        -webkit-animation: lol 3s infinite ease-in-out;
        animation: lol 3s infinite ease-in-out;
    }
    .cs-loader-inner label:nth-child(9) {
        -webkit-animation: lol 3s infinite ease-in-out;
        animation: lol 3s infinite ease-in-out;
    }
    
    .cs-loader-inner label:nth-child(8) {
        -webkit-animation: lol 3s infinite ease-in-out;
        animation: lol 3s infinite ease-in-out;
    }

    .cs-loader-inner label:nth-child(7) {
        -webkit-animation: lol 3s infinite ease-in-out;
        animation: lol 3s infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(6) {
        -webkit-animation: lol 3s infinite ease-in-out;
        animation: lol 3s infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(5) {
        -webkit-animation: lol 3s 100ms infinite ease-in-out;
        animation: lol 3s 100ms infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(4) {
        -webkit-animation: lol 3s 200ms infinite ease-in-out;
        animation: lol 3s 200ms infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(3) {
        -webkit-animation: lol 3s 300ms infinite ease-in-out;
        animation: lol 3s 300ms infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(2) {
        -webkit-animation: lol 3s 400ms infinite ease-in-out;
        animation: lol 3s 400ms infinite ease-in-out;
    }
      
    .cs-loader-inner label:nth-child(1) {
        -webkit-animation: lol 3s 500ms infinite ease-in-out;
        animation: lol 3s 500ms infinite ease-in-out;
    }
}


/*_____________________________________________
recherche
______________________________________________*/

/*barre de recherche*/
@mixin search{
    .form {
    width: 100%;
    border-width: 3px;
    display: flex;
    justify-content: center;
    height: 2rem;
    @media screen and (min-width:500px) {
    height: 4rem;  
    }
    }
   
    .form label,.form button{
    align-items: center;
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 1px;    
    }
       
    /*icône localistion*/
    label {
    background-color:$background_color;
    display: flex;
    justify-content: center;
    span{
        display: flex;
    }
    }
      
    /* champs de texte*/
    input {
    border: 0;
    /* gras*/
    
    flex: 1;
   
    background-color:$background_color;

    width: 100%;
    @media screen and (min-width:500px) {
    height: 1.8rem;
    width: 200px; 
    display: flex; 
    align-content: center;
    }
    }
       
    /* Exemple de ville*/
    ::placeholder{
    color: rgb(0, 0, 0);
    opacity: 1;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 4vmin;
    }
}


/*_______________________________
footer
_________________________________*/

@mixin footer{
   footer{ 
    background-color: rgb(58, 54, 54);
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    i{
    margin-right: 10px;
    @media screen and (min-width:500px){
    margin-right: 20px;    
    }
    }
    .footer  p{
    font-family: 'Shrikland';
    list-style: none;
    }
}   }
   


           
        
