

/*border-top*/
%flex-border-top{
 border-top-left-radius: 22px;
 border-top-right-radius:  22px;
}


/*_________________________________
Position
___________________________________/

/*padding*/
@mixin padding{
    padding: 10px 10px 10px 10px;
}
    
/*margin*/
@mixin margin{
    margin: 10px 10px 10px 10px;
}

    



